body {
    margin: 0;
    background-color: #D9D9D9;
    color: black;
}

.retangulo {
    box-sizing: border-box;
    background-color: #121214;
    width: 100%;
    height: 368px;
    padding: 1px;
    color: white;
}

.tit1-1 {
    box-sizing: border-box;
    width: 340px;
    margin-left: 352px;
    margin-top: 80px;
    font-family: sans-serif;
    color: white;
    font-size: 36px;
    font-weight: 700;
}

.corp1-1 {
    box-sizing: border-box;
    width: 340px;
    margin-left: 352px;
    margin-top: 24px;
    font-family: sans-serif;
    color: #42D3FF;
    font-size: 16px;
    font-weight: 700;
}

.retangulo2 {
    background-color: #FAFAFC;
    margin-left: 351px;
    margin-top: -86px;
    width: 736px;
    height: 1830px;
    padding: 1px;
    color: white;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.retangulo3 {
    background-color: #F0F0F4;
    margin-left: 351px;
    margin-top: 2px;
    margin-bottom: 91px;
    width: 736px;
    height: 136px;
    padding: 1px;
    color: white;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.Titulos {
    color: #32264D;
    border: 1px;
    margin-top: 50px;
    margin-left: 62px;
    margin-right: 62px;
    font-family: sans-serif;
    font-size: medium;
    font-weight: 600;
    font-size: 24px;
}

.corpos {
    color: #4E4958;
    border: 1px;
    margin-top: -20px;
    margin-left: 62px;
    margin-right: 62px;
    font-family: sans-serif;
    font-size: 14px;
    font-weight: 400;
    display: block;
    margin-right: 0px;
}

.corposwhite {
    color: #C1BCCC;
    border: 1px;
    margin-top: -20px;
    margin-left: 12px;
    margin-right: 62px;
    font-family: sans-serif;
    font-size: 14px;
    font-weight: 400;
    display: block;
}

.linha-textos {
    display: flex;
    gap: 10px;
    margin-top: 70px;
}

.inputs {
    margin-left: 62px;
    margin-right: 62px;
    width: 604px;
    height: 35px;
    border-radius: 5px;
    border-color: #e1e1e1;
    border-style: solid;
    border-width: 1px;
    padding: 15px;
}

.textarea {
    margin-left: 62px;
    margin-right: 62px;
    width: 604px;
    height: 168px;
    border-radius: 5px;
    border-color: #e1e1e1;
    border-style: solid;
    border-width: 1px;
    padding: 15px;
}

.select {
    margin-left: 62px;
    margin-right: 62px;
    width: 604px;
    height: 56px;
    border-radius: 5px;
    border-color: #e1e1e1;
    border-style: solid;
    border-width: 1px;
    padding: 15px;
}

.option {
    color: #4E4958
}

.checkbox {
    margin-left: 62px;
    margin-right: 62px;
    margin-top: 15px;
    width: 604px;
    height: 56px;
    padding: 15px;
    color: #4E4958;
    font-family: sans-serif;
    font-size: small;

}

.tit-esp {
    color: #32264D;
    border: 1px;
    margin-left: 62px;
    margin-right: 62px;
    font-family: sans-serif;
    font-size: medium;
    font-weight: 600;
    font-size: 24px;
}



input:focus {
    border-color: #ff0000;
    border-width: 3px;
}

.dia-hora {
    font-family: 'Poppins', sans-serif;
    display: flex;
    align-items: flex-start;
    gap: 30px;
    margin-left: 80px;
    margin-right: 80px;
    padding: 20px;
    border-radius: 6px;

}

.campo {
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 5px;
    color: #121214;
}

.data {
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 5px;
    color: #121214;
}

.campo input {
    font-family: 'Poppins', sans-serif;
    padding: 10px;
    border: 1px solid #d0d0d0;
    border-radius: 6px;
    margin-top: 5px;
}



hr {
    color: #E6E6F0;
}



/*

FONTES

Títulos: Arquivo
Corpo: Poppins

*/